@font-face {
    font-family: 'SolaimanLipi';
    src: URL('../fonts/SolaimanLipi.ttf') format('truetype');
}

* {
    font-family: 'SolaimanLipi';
  }

.stickyTable thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    border-top: none;
}